<link rel="stylesheet" href="Engineering.DAB.AppDAB/styles/style.css"> <!-- Resource style -->

<script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var v = document.getElementById("mainContent");
            v.addEventListener("resize", function (e) {
                //alert("RESIZE!!!!");
                var svgs = document.getElementsByTagName("svg");
                var svg = svgs[0],
                    box = svg.getBBox(), // <- get the visual boundary required to view all children
                    viewBox = [box.x, box.y, box.width, box.height].join(" ");

                // set viewable area based on value above
                svg.setAttribute("viewBox", viewBox);

            }, false);
        });

        //function myScale() {
        //    if ((navigator.userAgent.indexOf("MSIE") != -1) || (!!document.documentMode == true)) //IF IE > 10
        //    {
        //        var wWin = window.innerWidth;
        //        var hWin = window.innerHeight;

        //        $("#svgSynoptic").width(wWin - 32);
        //        $("#svgSynoptic").height(hWin - 32);
        //        $("#bgSynoptic").width(wWin - 32);
        //        $("#bgSynoptic").height(hWin - 32);
        //    }
        //}

        $(window).resize(function myScale() {
            if ((navigator.userAgent.indexOf("MSIE") != -1) || (!!document.documentMode == true)) //IF IE > 10
            {
                myScale();
                window.location.reload();
                top.location = top.location;
            }
        });

        //$(document).ready(function () {
        //    myScale();
        //});
</script>

<div id="itemlist" class="content-area content-area-relative" style="height: calc(100% - 30px) !important">
    <sit-command-bar sit-type="action" style="display: none;">
        <sit-command sit-icon="fa-edit"
                     sit-name="com.siemens.customcommand.edit"
                     sit-tooltip="Edit"
                     ng-click="vm.editButtonHandler"
                     sit-label="Edit"
                     ng-show="vm.isButtonVisible"></sit-command>
        <sit-command sit-icon="fa-list-alt"
                     sit-name="com.siemens.customcommand.select"
                     sit-tooltip="View"
                     ng-click="vm.selectButtonHandler"
                     sit-label="View"
                     ng-show="vm.isButtonVisible"></sit-command>
        <sit-command sit-icon="fa-trash"
                     sit-name="com.siemens.customcommand.delete"
                     sit-tooltip="Delete"
                     ng-click="vm.deleteButtonHandler"
                     sit-label="Delete"
                     ng-show="vm.isButtonVisible"></sit-command>
        <sit-command sit-icon="fa-plus"
                     sit-name="com.siemens.customcommand.add"
                     ng-click="vm.addButtonHandler"
                     sit-tooltip="Add"
                     sit-label="Add"
                     sit-type="main"></sit-command>
    </sit-command-bar>
    <sit-item-collection-viewer sit-data="vm.viewerData" sit-options="vm.viewerOptions" style="display: none;">
    </sit-item-collection-viewer>

    <div id="mainContent" name="mainContent" style="position: relative; top: 0; left: 0; width: 100%; height:100%; border:solid">
        <svg id="svgSynoptic" viewBox="0 0 940 430" preserveAspectRatio="xMidYMid" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <image id="bgSynoptic" xlink:href="Engineering.DAB.AppDAB/images/sinottico_2_6_1.png" preserveAspectRatio="xMidYMid" width="940" height="430"></image>
            <g id="svg_1">
                <foreignObject class="node" height="90" width="100" y="340" x="320">
                    <a href="#0" class="buttonStyle" id="btnJET" data-type="cd-modal-trigger">Linea JET</a>
                </foreignObject>
                <foreignObject class="node" height="90" width="100" y="220" x="565">
                    <a href="#0" class="buttonStyle" id="btnM80" data-type="cd-modal-trigger">Linea JET</a>
                </foreignObject>
                <foreignObject class="node" height="90" width="100" y="220" x="790">
                    <a href="#0" class="buttonStyle" id="btnM100" data-type="cd-modal-trigger">Linea JET</a>
                </foreignObject>
            </g>
        </svg>
    </div>

    <div class="cd-modal" data-modal="btnJET">
        <div class="cd-modal-content">
            <svg viewBox="0 0 940 500">
                <g>
                    <foreignObject height="490" width="930" y="10" x="10">
                        <h2 style="margin-left: 50px; margin-top: 12px;">Linea JET</h2>
                        <a href="#0" class="modal-close" style="right: auto;">Close</a>
                        <table class="a-border">
                            <tr class="a-border">
                                <th class="a-border" style="width:15%">Qtà Impostata</th>
                                <th class="a-border" style="width:15%">Qtà Teorica</th>
                                <th class="a-border" style="width:25%">Descrizione</th>
                                <th class="a-border" style="width:15%">Team</th>
                                <th class="a-border" style="width:15%">Qtà Prodotta</th>
                                <th class="a-border" style="width:15%">Delta</th>
                            </tr>
                            <tr>
                                <td class="a-border" style="text-align: center; width: 15%;">100</td>
                                <td class="a-border" style="text-align: center; width: 15%;">75</td>
                                <td class="a-border" style="text-align: center; width: 25%;">Test Cinzia</td>
                                <td class="a-border" style="text-align: center; width: 15%;">6</td>
                                <td class="a-border" style="text-align: center; width: 15%;">44</td>
                                <td class="a-border" style="text-align: center; width: 15%;">3</td>
                            </tr>
                        </table>
                        <br />
                        <table class="a-border">
                            <tr>
                                <th class="a-border" style="width:10%">Postazione</th>
                                <th class="a-border" style="width:10%">Prodotto</th>
                                <th class="a-border" style="width:30%">Descrizione</th>
                                <th class="a-border" style="width:10%">Qtà Ordine</th>
                                <th class="a-border" style="width:10%">Qtà Prodotta</th>
                                <th class="a-border" style="width:10%">Qtà Reworked</th>
                                <th class="a-border" style="width:20%">Cliente</th>
                            </tr>
                            <tr>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Stz1</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">P001</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Productdescription</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">100</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">80</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">2</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Customer</td>
                            </tr>
                            <tr>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Stz2</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">P001</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Productdescription</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">100</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">80</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">2</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Customer</td>
                            </tr>
                            <tr>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Stz3</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">P001</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Productdescription</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">100</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">80</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">2</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Customer</td>
                            </tr>
                            <tr>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Stz4</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">P001</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Productdescription</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">100</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">80</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">2</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Customer</td>
                            </tr>
                            <tr>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Stz5</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">P001</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Productdescription</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">100</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">80</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">2</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Customer</td>
                            </tr>
                            <tr>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Stz6</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">P001</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Productdescription</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">100</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">80</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">2</td>
                                <td class="a-fit-text a-data a-border" style="text-align: center;">Customer</td>
                            </tr>
                        </table>
                    </foreignObject>
                </g>
            </svg>
        </div>
    </div> <!-- cd-modal -->
    <div class="cd-modal" data-modal="btnM80">
        <div class="cd-modal-content">
            <svg viewBox="0 0 940 500">
                <g>
                    <foreignObject height="490" width="930" y="10" x="10">
                        <h2 style="margin-left: 50px; margin-top: 12px;">Linea M80</h2>
                        <a href="#0" class="modal-close" style="right: auto;">Close</a>
                        <table class="a-border">
                            <tr class="a-border">
                                <th class="a-border" style="width:15%">Qtà Impostata</th>
                                <th class="a-border" style="width:15%">Qtà Teorica</th>
                                <th class="a-border" style="width:25%">Descrizione</th>
                                <th class="a-border" style="width:15%">Team</th>
                                <th class="a-border" style="width:15%">Qtà Prodotta</th>
                                <th class="a-border" style="width:15%">Delta</th>
                            </tr>
                            <tr>
                                <td class="a-border " style="text-align: center; width:15%; ">100</td>
                                <td class="a-border " style="text-align: center; width:15%; ">75</td>
                                <td class="a-border " style="text-align: center; width:25%; ">Test Cinzia</td>
                                <td class="a-border " style="text-align: center; width:15%; ">6</td>
                                <td class="a-border " style="text-align: center; width:15%; ">44</td>
                                <td class="a-border " style="text-align: center; width:15%; ">3</td>
                            </tr>
                        </table>
                        <br />
                        <table class="a-border" style="overflow:scroll">
                            <tr class="a-border">
                                <th class="a-border" style="width:10%">Postazione</th>
                                <th class="a-border" style="width:10%">Prodotto</th>
                                <th class="a-border" style="width:30%">Descrizione</th>
                                <th class="a-border" style="width:10%">Qtà Ordine</th>
                                <th class="a-border" style="width:10%">Qtà Prodotta</th>
                                <th class="a-border" style="width:10%">Qtà Reworked</th>
                                <th class="a-border" style="width:20%">Cliente</th>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz1</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz3</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz4</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz5</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz6</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                        </table>
                    </foreignObject>
                </g>
            </svg>
        </div>
    </div> <!-- cd-modal -->
    <div class="cd-modal" data-modal="btnM100">
        <div class="cd-modal-content">
            <svg viewBox="0 0 940 500">
                <g>
                    <foreignObject height="490" width="930" y="10" x="10">
                        <h2 style="margin-left: 50px; margin-top: 12px;">Linea M100</h2>
                        <a href="#0" class="modal-close" style="right: auto;">Close</a>
                        <table class="a-border">
                            <tr class="a-border">
                                <th class="a-border" style="width:15%">Qtà Impostata</th>
                                <th class="a-border" style="width:15%">Qtà Teorica</th>
                                <th class="a-border" style="width:25%">Descrizione</th>
                                <th class="a-border" style="width:15%">Team</th>
                                <th class="a-border" style="width:15%">Qtà Prodotta</th>
                                <th class="a-border" style="width:15%">Delta</th>
                            </tr>
                            <tr>
                                <td class="a-border " style="text-align: center; width:15%; ">100</td>
                                <td class="a-border " style="text-align: center; width:15%; ">75</td>
                                <td class="a-border " style="text-align: center; width:25%; ">Test Cinzia</td>
                                <td class="a-border " style="text-align: center; width:15%; ">6</td>
                                <td class="a-border " style="text-align: center; width:15%; ">44</td>
                                <td class="a-border " style="text-align: center; width:15%; ">3</td>
                            </tr>
                        </table>
                        <br />
                        <table class="a-border" style="overflow:auto">
                            <tr class="a-border">
                                <th class="a-border" style="width:10%">Postazione</th>
                                <th class="a-border" style="width:10%">Prodotto</th>
                                <th class="a-border" style="width:30%">Descrizione</th>
                                <th class="a-border" style="width:10%">Qtà Ordine</th>
                                <th class="a-border" style="width:10%">Qtà Prodotta</th>
                                <th class="a-border" style="width:10%">Qtà Reworked</th>
                                <th class="a-border" style="width:20%">Cliente</th>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz1</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz3</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz4</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz5</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz6</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz7</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz8</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                            <tr a-border>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Stz9</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">P001</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Productdescription</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">100</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">80</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">2</td>
                                <td style="text-align: center;" class="a-fit-text a-data a-border">Customer</td>
                            </tr>
                        </table>
                    </foreignObject>
                </g>
            </svg>
        </div>
    </div> <!-- cd-modal -->
</div>
<script>
        //function myRefresh() {
        //    //refreshSynoptic(function () { setTimeout("myRefresh()", 1000) });

        //    btnJET.innerHTML = "<div>\
        //                                <b>Linea JET</b>\
        //                                <br />\
        //                                OPR: 10 \
        //                                <br />\
        //                                LE: 100\
        //                                <br /></div>";

        //    btnM80.innerHTML = "<div>\
        //                                <b>Linea M80</b>\
        //                                <br />\
        //                                OPR: 10 \
        //                                <br />\
        //                                LE: 100\
        //                                <br /></div>";

        //    btnM100.innerHTML = "<div>\
        //                                <b>Linea M100</b>\
        //                                <br />\
        //                                OPR: 10 \
        //                                <br />\
        //                                LE: 100\
        //                                <br /></div>";

        //    $("#btnM100").remove("buttonStyle");
        //    $("#btnM100").addClass("buttonAlarmsStyle");


        //    $("#qtaImpostata").innerHTML = "<text>cambio testo</text>";
        //}
</script>
