<link rel="stylesheet" href="Engineering.DAB.AppDAB/styles/style.css"> <!-- Resource style -->

<script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var v = document.getElementById("mainContent");
            v.addEventListener("resize", function (e) {
                //alert("RESIZE!!!!");
                var svgs = document.getElementsByTagName("svg");
                var svg = svgs[0],
                    box = svg.getBBox(), // <- get the visual boundary required to view all children
                    viewBox = [box.x, box.y, box.width, box.height].join(" ");

                // set viewable area based on value above
                svg.setAttribute("viewBox", viewBox);

            }, false);
        });

        //function myScale() {
        //    if ((navigator.userAgent.indexOf("MSIE") != -1) || (!!document.documentMode == true)) //IF IE > 10
        //    {
        //        var wWin = window.innerWidth;
        //        var hWin = window.innerHeight;

        //        $("#svgSynoptic").width(wWin - 32);
        //        $("#svgSynoptic").height(hWin - 32);
        //        $("#bgSynoptic").width(wWin - 32);
        //        $("#bgSynoptic").height(hWin - 32);
        //    }
        //}

        $(window).resize(function myScale() {
            if ((navigator.userAgent.indexOf("MSIE") != -1) || (!!document.documentMode == true)) //IF IE > 10
            {
                myScale();
                window.location.reload();
                top.location = top.location;
            }
        });

        //$(document).ready(function () {
        //    myScale();
        //});
</script>

<div id="itemlist" class="content-area content-area-relative" style="height: calc(100% - 30px) !important">
    <sit-command-bar sit-type="action" style="display: none;">
        <sit-command sit-icon="fa-edit"
                     sit-name="com.siemens.customcommand.edit"
                     sit-tooltip="Edit"
                     ng-click="vm.editButtonHandler"
                     sit-label="Edit"
                     ng-show="vm.isButtonVisible"></sit-command>
        <sit-command sit-icon="fa-list-alt"
                     sit-name="com.siemens.customcommand.select"
                     sit-tooltip="View"
                     ng-click="vm.selectButtonHandler"
                     sit-label="View"
                     ng-show="vm.isButtonVisible"></sit-command>
        <sit-command sit-icon="fa-trash"
                     sit-name="com.siemens.customcommand.delete"
                     sit-tooltip="Delete"
                     ng-click="vm.deleteButtonHandler"
                     sit-label="Delete"
                     ng-show="vm.isButtonVisible"></sit-command>
        <sit-command sit-icon="fa-plus"
                     sit-name="com.siemens.customcommand.add"
                     ng-click="vm.addButtonHandler"
                     sit-tooltip="Add"
                     sit-label="Add"
                     sit-type="main"></sit-command>
    </sit-command-bar>
    <sit-item-collection-viewer sit-data="vm.viewerData" sit-options="vm.viewerOptions" style="display: none;">
    </sit-item-collection-viewer>

    <div id="mainContent" name="mainContent" style="position: relative; top: 0; left: 0; width: 100%; height:100%; border:solid">
        <svg id="svgSynoptic" viewBox="0 0 940 430" preserveAspectRatio="xMidYMid" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <image id="bgSynoptic" xlink:href="Engineering.DAB.AppDAB/images/sinottico_2_6_1.png" preserveAspectRatio="xMidYMid" width="940" height="430"></image>
            <g id="svg_1">
                <foreignObject class="node" height="90" width="100" y="340" x="320">
                    <a href="#0" class="buttonStyle" id="btnJET" data-type="cd-modal-trigger">Linea JET</a>
                </foreignObject>
                <foreignObject class="node" height="90" width="100" y="220" x="565">
                    <a href="#0" class="buttonStyle" id="btnM80" data-type="cd-modal-trigger">Linea JET</a>
                </foreignObject>
                <foreignObject class="node" height="90" width="100" y="220" x="790">
                    <a href="#0" class="buttonStyle" id="btnM100" data-type="cd-modal-trigger">Linea JET</a>
                </foreignObject>
            </g>
        </svg>
    </div>

    <div class="cd-modal" data-modal="btnJET">
        <div class="cd-modal-content">
            <svg viewBox="0 0 940 500">
                <g>
                    <foreignObject height="490" width="930" y="10" x="10">
                        <h2 style="margin-left: 50px; margin-top: 12px;" id="nameJET"></h2>
                        <a href="#0" class="modal-close" style="right: auto;">Close</a>
                        <table class="a-border" id="LineJET">
                            <tboby id="bodyLineJET"></tboby>
                        </table>
                        <br />
                        <table class="a-border" id="StzLineJET" style="border: 1px solid; display:block;width:890px;">
                            <tboby id="bodyStzLineJET"></tboby>
                        </table>
                    </foreignObject>
                </g>
            </svg>
        </div>
    </div> <!-- cd-modal -->
    <div class="cd-modal" data-modal="btnM80">
        <div class="cd-modal-content">
            <svg viewBox="0 0 940 500">
                <g>
                    <foreignObject height="500" width="930" y="10" x="10">
                        <h2 style="margin-left: 50px; margin-top: 12px;" id="nameM80"></h2>
                        <a href="#0" class="modal-close" style="right: auto;">Close</a>
                        <table class="a-border" id="LineM80">
                            <tboby id="bodyLineM80"></tboby>
                        </table>
                        <br />
                        <table id="StzLineM80" class="a-border" style="border: 1px solid; display:block;width:890px;"></table>
                    </foreignObject>
                </g>
            </svg>
        </div>
    </div> <!-- cd-modal -->
    <div class="cd-modal" data-modal="btnM100">
        <div class="cd-modal-content">
            <svg viewBox="0 0 940 500">
                <g>
                    <foreignObject height="490" width="930" y="10" x="10">
                        <h2 style="margin-left: 50px; margin-top: 12px;" id="nameM100"></h2>
                        <a href="#0" class="modal-close" style="right: auto;">Close</a>
                        <table class="a-border" id="LineM100">
                            <tboby id="bodyLineM100"></tboby>
                        </table>
                        <br />
                        <table class="a-border" style="border: 1px solid; display:block;width:890px;" id="StzLineM100">
                            <tboby id="bodyStzLineM100"></tboby>
                        </table>
                    </foreignObject>
                </g>
            </svg>
        </div>
    </div> <!-- cd-modal -->
</div>
<script>
    function myRefresh() {
        refreshSynoptic(function () { setTimeout("myRefresh()", 1000) });
    }
</script>
