<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_WebSrviTrg" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://nb-andreabonfa:56424/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_WebSrviTrg" contract="ServiceReference1.WebSrviTrg"
                name="BasicHttpBinding_WebSrviTrg" />
        </client>
    </system.serviceModel>
</configuration>