<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="AndonConnectionString" connectionString="Data Source=161.27.206.191\DABUADM12;Initial Catalog=Andon;Integrated Security=False;User ID=sa;Password=$Eng2018;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AndonDBConnectionString" connectionString="Data Source=161.27.206.191\DABUADM12;Initial Catalog=Andon;Trusted_Connection=Yes" />-->
  </connectionStrings>
</configuration>