<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WindchillUser" value="wcadmin"/>
    <add key="WindchillPassword" value="DWTadmin"/>
  </appSettings>
  <connectionStrings>
    <add name="AndonDBConnectionString" connectionString="Data Source=NomeHost\NomeIstanzaSQL;Initial Catalog=NomeDatabse;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RMWebServicesImplPortBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srvitgwch01.adw.intra:80/Windchill/servlet/RMWebServices" binding="basicHttpBinding" bindingConfiguration="RMWebServicesImplPortBinding" contract="WindchillTestCardService.RMWebServicesImpl" name="RMWebServicesImplPort"/>
        </client>
    </system.serviceModel>
</configuration>
