<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WindchillUser" value="wcadmin"/>
    <add key="WindchillPassword" value="DWTadmin"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExtPortBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://srvitawch01.adw.intra/Windchill/servlet/extcdm" binding="basicHttpBinding" bindingConfiguration="ExtPortBinding" contract="WindchillDocService.Ext" name="ExtPort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
