<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NiceLabelService_WebSrviTrg" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost.fiddler:57676/PrintServiceMock.asmx" binding="basicHttpBinding"
          bindingConfiguration="NiceLabelService_WebSrviTrg" contract="NiceLabelService.WebSrviTrg"
          name="NiceLabelService_WebSrviTrg" />
    </client>
  </system.serviceModel>
</configuration>