
<DSL Version='1.12'>
    <Project>
        <Name>AppDAB.DPPOMModel</Name>
        <Version>01.00.00</Version>
        <Prefix>Engineering.DAB</Prefix>
        <Domain>AppDAB</Domain>
        <Guid>79917911-d071-44ca-8502-17ab85617b05</Guid>
		<ProjectKind>Pom</ProjectKind>
		    </Project>
    <References>
      		<Project>
			<Name>FB_OP_DAB.OPModel</Name>
			<Version>01.00.00</Version>
			<Prefix>Engineering.DAB</Prefix>
			<Domain>OperationalData</Domain>
			<Guid>3eed0a14-69cf-4b66-b87a-2b23582fc663</Guid>
		</Project>
            </References>
</DSL>