
<DSL Version='1.12'>
    <Project>
        <Name>AppDAB.DPPOMModel</Name>
        <Version>01.00.00</Version>
        <Prefix>Engineering.DAB</Prefix>
        <Domain>AppDAB</Domain>
        <Guid>79917911-d071-44ca-8502-17ab85617b05</Guid>
		<ProjectKind>Pom</ProjectKind>
		    </Project>
    <References>
      		<Project>
			<Name>ConfigKey.RFModel</Name>
			<Version>03.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM.RD.FB</Prefix>
			<Domain>ReferenceData</Domain>
			<Guid>ff4b4830-cb7d-4b93-91f8-f657456a54b3</Guid>
		</Project>
        		<Project>
			<Name>FB_RD_SERV.RFModel</Name>
			<Version>03.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>ReferenceData</Domain>
			<Guid>e83748c6-1d12-4fd4-bfd2-1a09e1a7b915</Guid>
		</Project>
        		<Project>
			<Name>FB_MS_EXT.MEModel</Name>
			<Version>03.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MsExt</Domain>
			<Guid>a9142045-5fad-4dd5-abbc-9e05660d61f2</Guid>
		</Project>
        		<Project>
			<Name>FB_MS_CERT.MSModel</Name>
			<Version>03.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MasterData</Domain>
			<Guid>44c9d0a6-aefb-4c8f-823c-a3f196274cf3</Guid>
		</Project>
        		<Project>
			<Name>FB_MS_BOP.MSModel</Name>
			<Version>03.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MasterData</Domain>
			<Guid>43505cfd-dbd3-4fc5-87ae-cda08d8af79c</Guid>
		</Project>
        		<Project>
			<Name>FB_MS_AMMS.MSModel</Name>
			<Version>03.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MasterData</Domain>
			<Guid>2aae1309-2750-4ec2-97f2-3d33a90bac61</Guid>
		</Project>
        		<Project>
			<Name>QMSInt.OEModel</Name>
			<Version>01.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MsExt</Domain>
			<Guid>b0f3e258-96b7-4bd1-85fb-cc00dca04b0c</Guid>
		</Project>
        		<Project>
			<Name>FB_OP_EXT.OEModel</Name>
			<Version>03.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MsExt</Domain>
			<Guid>8449f78d-5e46-4816-b338-36c2ec08895f</Guid>
		</Project>
        		<Project>
			<Name>FB_OP_DAB.OPModel</Name>
			<Version>01.00.00</Version>
			<Prefix>Engineering.DAB</Prefix>
			<Domain>OperationalData</Domain>
			<Guid>3eed0a14-69cf-4b66-b87a-2b23582fc663</Guid>
		</Project>
            </References>
</DSL>