html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.icon {
    font-size: 3vw;
}

.feedback {
    font-size: 1.4em;
}

.serialsList .ui-selecting {
    background: #CAD4D4;
}

.serialsList .ui-selected {
    border: solid;
    border-color: #136b91;
    border-width: 3px;
}

.serialsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.serialsList li {
    background: #CAD4D4;
    margin: 3px;
    padding: 1px;
    float: left;
    width: 170px;
    height:80px;
    text-align: center;
    box-sizing: border-box;
}

.callClass .ui-selecting {
background: #CAD4D4;
}

.callClass .ui-selected {
    border: solid;
    border-color: #136b91;
    border-width: 3px;
}

.callClass {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.callClass li {
    background: #CAD4D4;
    margin: 3px;
    padding: 1px;
    float: left;
    width: 15vw;
    height: 7vw;
    text-align: left;
    box-sizing: border-box;
}

.Table {
    display: table;
    height: 100%;
    width:100%;
}

.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row {
    display: table-row;
}

.CellSx {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
    vertical-align: top;
}

.CellRx {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 80%;
    vertical-align: top;
}

.TableFooter {
    display: table;
    height: 60px;
    width: 100%;
    text-align: center;
}

.CellFooter {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    height: 60px;
    width: 50%;
    vertical-align: bottom;
    text-align: center;
}

.TableTop {
    display: table;
    height: 90% ;
    width: 100%;
}

.CellTop {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 80%;
    align-items: center;
    vertical-align: top;
    text-align: center;
}

.btn:before {
    color: #ffffff;
    vertical-align:middle;
}

.buttonIcon
{
    vertical-align:middle; 
    color: #fff;
    line-height:60px;
}

.btn {        
    background: #778089;
    min-height:60px;
    min-width:60px;
    width: 5%;
    height:5%;
    margin:auto;   
}

.btn-selected {    
    color: #ffffff;
    background: #007500;  
    min-height:60px;
    min-width:60px;
    width: 5%;
    height:5%;
  margin:auto;
 
}

.CellCalls {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;    
    width: 50%;
    vertical-align: top;
}


.ui-notification-container {
    width: 300px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.successNotify {
    border: 1px solid;
    border-color: rgba(120,255,120,0.8);
    background-color: rgba(180,255,180,0.5);
    color: black;
}

.errorNotify {
    border: 1px solid;
    border-color: rgba(255,120,120,0.8);
    background-color: rgba(255,180,180,0.5);
    color: black;
}


.ui-notification-bar {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

    .ui-notification-bar .ui-notification {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        -o-box-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }




.ui-notification {
    padding: 5px 10px;
    -o-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
}

    .ui-notification .ui-notification-content {
        font-size: 0.9em;
    }

        .ui-notification .ui-notification-content h4 {
            font-size: 1.1em;
        }

        .ui-notification .ui-notification-content p {
            font-size: 0.9em;
        }

    .ui-notification .ui-notification-close {
        display: inline-block;
        float: right;
        width: 19px;
        padding: 1px;
        height: 18px;
        margin: -2px -2px 0 2px;
    }

        .ui-notification .ui-notification-close:hover,
        .ui-notification .ui-notification-close:focus {
            padding: 0;
        }

        .ui-notification .ui-notification-close span {
            display: block;
            margin: 1px;
        }
