html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.icon {
    font-size: 3vw;
}

.feedback {
    font-size: 1.4em;
}

.serialsList .ui-selecting {
    background: #CAD4D4;
}

.serialsList .ui-selected {
    border: solid;
    border-color: #136b91;
    border-width: 3px;
    padding:2px;
}

.serialsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.serialsList li {
    background: #CAD4D4;
    margin: 3px;
    padding: 4px;
    float: left;
    width: 170px;
    height: 80px;
    text-align: left;
    box-sizing: border-box;
}

.callClass .ui-selecting {
    background: #CAD4D4;
}

.callClass .ui-selected {
    border: solid;
    border-color: #136b91;
    border-width: 3px;
}

.callClass {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.callClass li {
    background: #CAD4D4;
    margin: 3px;
    padding: 1px;
    float: left;
    width: 15vw;
    height: 7vw;
    text-align: left;
    box-sizing: border-box;
}

.Table {
    display: table;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.TableHeader {
  display: table;
    height: 40px;
    width: 100%;
}
.TableHeaderRow {
    display: table-row;
    height: 40px;
    width: 100%;
}

.MainTableRow {
    display: table-row;
    height: 100%;
    width: 100%;
}

.MainTableCell {
    display: table-cell;
    height: 100%;
}

.HeaderCell {
    display: table-cell;
    background-color: #004F79;
    color: white;
    column-span: all;
    
}
.HeaderCellSx { 
    display: table-cell;
    background-color: #004F79;
    color: white;
    column-span: all;
    width:200px;
    min-width:200px;
}
.HeaderCellCen {
    display: table-cell;
    background-color: #004F79;
    color: white;
    column-span: all;
    width:90%;
    min-width:90%;
}
.HeaderCellDx {
    display: table-cell;
    background-color: #004F79;
    color: white;
    column-span: all;
    width: 10%;
    min-width: 10%;
    vertical-align: middle;
    white-space: nowrap;
}

.CellSx {
    display: table-cell;
    height: 100%;
    width: 200px;
    border-right: solid 2px #004F79;
    padding-top: 50px;
}

.CellSxCalls {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    border-right: solid 2px #004F79;
}

.CellRx {
    display: table-cell;
    vertical-align: top;
    height: 100%;
}

.SerialsScroller {
    display: table-cell;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.SerialsContainerCell {
    width: 100%;
    position: absolute;
    margin: auto;
    text-align: center;
}

.ButtonRow {
    display: table-row;
    height: 100px;
}

.ButtonCell {
    display: table-cell;
    height: 100px;
}

.btn:before {
    color: #ffffff;
    vertical-align: middle;
}

.buttonIcon {
    vertical-align: middle;
    text-align: center;
    color: #fff;
    line-height: 100px;
    margin: auto;
}

.btn {
    background: #778089;
    height: 100px;
    width: 100px;
    margin: auto;
    text-align: center;
}

.btn:active {
    background-color: #555867;
}

.btn-selected:active {
    background-color: #009900;
}

.btn-selected {
    color: #ffffff;
    background: #007500;
    height: 100px;
    width: 100px;
    margin: auto;
    text-align: center;
}

.ui-notification-container {
    width: 300px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.successNotify {
    border: 1px solid;
    border-color: rgba(120,255,120,0.8);
    background-color: rgba(180,255,180,0.5);
    color: black;
}

.errorNotify {
    border: 1px solid;
    border-color: rgba(255,120,120,0.8);
    background-color: rgba(255,180,180,0.5);
    color: black;
}

.ui-notification-bar {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.ui-notification-bar .ui-notification {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -o-box-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.ui-notification {
    padding: 5px 10px;
    -o-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
}

.ui-notification .ui-notification-content {
    font-size: 0.9em;
}

.ui-notification .ui-notification-content h4 {
    font-size: 1.1em;
}

.ui-notification .ui-notification-content p {
    font-size: 0.9em;
}

.ui-notification .ui-notification-close {
    display: inline-block;
    float: right;
    width: 19px;
    padding: 1px;
    height: 18px;
    margin: -2px -2px 0 2px;
}

.ui-notification .ui-notification-close:hover,
.ui-notification .ui-notification-close:focus {
    padding: 0;
}

.ui-notification .ui-notification-close span {
    display: block;
    margin: 1px;
}
