<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IWMStdReportProductionSoapBinding" />
        <binding name="IWMStdUnplannedMatlIssueSoapBinding" />
        <binding name="SFCOperatorOperationSoapBinding"/>
        <binding name="IWMStdInvTransferSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.31:8312/c4ws/services/IWMStdReportProduction/lntestclone"
          binding="basicHttpBinding" bindingConfiguration="IWMStdReportProductionSoapBinding"
          contract="InforProducedQuantity.IWMStdReportProduction" name="IWMStdReportProductionSoapPort" />
      <endpoint address="http://192.168.1.31:8312/c4ws/services/IWMStdUnplannedMatlIssue/lntestclone"
          binding="basicHttpBinding" bindingConfiguration="IWMStdUnplannedMatlIssueSoapBinding"
          contract="InforUnplannedMaterial.IWMStdUnplannedMatlIssue" name="IWMStdUnplannedMatlIssueSoapPort" />
      <endpoint address="http://192.168.1.31:8312/c4ws/services/SFCOperatorOperation/lntestclone"
          binding="basicHttpBinding" bindingConfiguration="SFCOperatorOperationSoapBinding"
          contract="InforOperatorOperation.SFCOperatorOperation" name="SFCOperatorOperationSoapPort" />
      <endpoint address="http://192.168.1.31:8312/c4ws/services/IWMStdInvTransfer/lntestclone"
                binding="basicHttpBinding" bindingConfiguration="IWMStdInvTransferSoapBinding"
                contract="InforMaterialNonConformance.IWMStdInvTransfer" name="IWMStdInvTransferSoapPort" />
    </client>
  </system.serviceModel>
</configuration>
