<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExtPortBinding" maxReceivedMessageSize="2097152"
                         maxBufferSize="2097152"
                         maxBufferPoolSize="2097152" >
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic"></transport>
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsExtPortBinding" maxReceivedMessageSize="2097152"
                         messageEncoding="Mtom"
                         maxBufferPoolSize="2097152" />
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="webExtPortBinding" maxReceivedMessageSize="2097152"
                         maxBufferSize="2097152"
                         maxBufferPoolSize="2097152" useDefaultWebProxy="true">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic"></transport>
          </security>
          
        </binding>
        
      </webHttpBinding>

      <!--.Security.Mode = BasicHttpSecurityMode.TransportCredentialOnly;
      binding.UseDefaultWebProxy = true;
      binding.Security.Transport.ClientCredentialType = HttpClientCredentialType.Basic; // !!!
      binding.Security.Transport.ProxyCredentialType-->
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://srvitawch01.adw.intra/Windchill/servlet/extcdm"
          binding="basicHttpBinding" bindingConfiguration="webExtPortBinding"
          contract="WindchillDocService.Ext" name="ExtPort" behaviorConfiguration="webHttpBehaviour" />
    </client>
  </system.serviceModel>
</configuration>