<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExtPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://srvitgwce01.adw.intra:80/Windchill/servlet/extcdm"
          binding="basicHttpBinding" bindingConfiguration="ExtPortBinding"
          contract="WindchillDocService.Ext" name="ExtPort" />
    </client>
  </system.serviceModel>
</configuration>