<link rel="stylesheet" href="Engineering.DAB.AppDAB/styles/style.css"> <!-- Resource style -->
<script src="Engineering.DAB.AppDAB/scripts/Chart.bundle.js"></script>
<script src="Engineering.DAB.AppDAB/scripts/chartjs-plugin-annotation.min.js"></script>

<div id="itemlist" class="content-area content-area-relative" style="height: calc(100% - 30px) !important">
    <sit-command-bar sit-type="action" style="display: none;">
        <sit-command sit-icon="fa-edit"
                     sit-name="com.siemens.customcommand.edit"
                     sit-tooltip="Edit"
                     ng-click="vm.editButtonHandler"
                     sit-label="Edit"
                     ng-show="vm.isButtonVisible"></sit-command>
        <sit-command sit-icon="fa-list-alt"
                     sit-name="com.siemens.customcommand.select"
                     sit-tooltip="View"
                     ng-click="vm.selectButtonHandler"
                     sit-label="View"
                     ng-show="vm.isButtonVisible"></sit-command>
        <sit-command sit-icon="fa-trash"
                     sit-name="com.siemens.customcommand.delete"
                     sit-tooltip="Delete"
                     ng-click="vm.deleteButtonHandler"
                     sit-label="Delete"
                     ng-show="vm.isButtonVisible"></sit-command>
        <sit-command sit-icon="fa-plus"
                     sit-name="com.siemens.customcommand.add"
                     ng-click="vm.addButtonHandler"
                     sit-tooltip="Add"
                     sit-label="Add"
                     sit-type="main"></sit-command>
    </sit-command-bar>
    <sit-item-collection-viewer sit-data="vm.viewerData" sit-options="vm.viewerOptions" style="display: none;">
    </sit-item-collection-viewer>

    <div class="tab" style="position: relative; top: 0; left: 0;">
        <button class="tablinks" onclick="openChart(event, 'Production')">Produzione</button>
        <button class="tablinks" onclick="openChart(event, 'OEE')">Efficienza</button>
    </div>

    <!-- Tab content -->
    <div id="Production" class="tabcontent">
        <div style="border:solid; border-width:thin">
            <fieldset>
                <legend style="color:black;font-weight:bold;">Linea D103</legend>
                <div class="containerPRODJET">
                </div>
            </fieldset>
        </div>
        <br />
        <div style="border:solid; border-width:thin">
            <fieldset>
                <legend style="color:black;font-weight:bold;">Linea D102</legend>
                <div class="containerPRODM100">
                </div>
            </fieldset>
        </div>
        <br />
        <div style="border:solid; border-width:thin">
            <fieldset>
                <legend style="color:black;font-weight:bold;">Linea D21A</legend>
                <div class="containerPRODM80">
                </div>
            </fieldset>
        </div>
    </div>
    <div id="OEE" class="tabcontent">
        <div style="border:solid; border-width:thin">
            <fieldset>
                <legend style="color:black;font-weight:bold;">Linea D103</legend>
                <div class="containerOEEJET">
                </div>
            </fieldset>
        </div>
        <br />
        <div style="border:solid; border-width:thin">
            <fieldset>
                <legend style="color:black;font-weight:bold;">Linea D102</legend>
                <div class="containerOEEM100">
                </div>
            </fieldset>
        </div>
        <br />
        <div style="border:solid; border-width:thin">
            <fieldset>
                <legend style="color:black;font-weight:bold;">Linea D21A</legend>
                <div class="containerOEEM80">
                </div>
            </fieldset>
        </div>
        <br />
        <script  type="text/javascript">
            
        </script>
    </div>
    <!--<div id="gigietto" style="position:fixed; top:0px; z-index:100000; font-size:30px;">pippo</div>-->
</div>

<script  type="text/javascript">

    function myRefresh()
    {
        //debugger;
        ////drawLineChart(null, function () { setTimeout("myRefresh()", 1000) } );
        //loadProd("", "");
        //loadOEE("", "");
    }

    //$(document).ready(function () {

    //    myRefresh();
    //});

    function openChart(evt, chartType) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(chartType).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
